.slide {
    position: relative;

    // &.slide_index{
    //     background-image: url(../image/slide/slide_index.png);
    // }
    &.slide_laboratory {
        background-image: url(../image/slide/slide_laboratory.png);
    }

    &.slide_society {
        background-image: url(../image/slide/slide_society.png);
    }

    &.slide_research {
        background-image: url(../image/slide/slide_research.png);
    }

    &.slide_index{
        background: linear-gradient(90deg, $white 60%, #5167b0 0%);
        overflow: hidden;

        .slide_index_area{
            display: flex;
            align-items: flex-end;
            justify-content: center;
            padding: 15px 10px 0;
            max-width: 1200px;
            position: relative;
            margin: 0 auto;
            background: linear-gradient(70deg, $white 60%, #5167b0 0%);

    
            .slide_title_index {
                width: 55%;
                margin: 0;
                padding: 0 5px 20px;
                .slide_name{
                    margin: 0 0 5px;
    
                    h3{
                        font-size: 37px;
                        color: $main_color;
                    }

                    p{
                        color: $main_color;
                        font-weight: bold;
                    }
                }
                .slide_information{
                    .slide_information_text{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 5px 0;
                        p{
                            padding: 0 0 0 8px;
    
                            &:nth-child(1){
                                margin-right: 5px;
                                position: relative;
    
                                &::before{
                                    position: absolute;
                                    content: "";
                                    width: 5px;
                                    height: 5px;
                                    background-color: $black;
                                    border-radius: 50%;
                                    top: 50%;
                                    left: 0;
                                    transform: translate(0 , -50%);
                                }
                            }
                        }
                    }
                }
            }
    
            .slide_figure{
                width: 45%;
            }
    
            .slide_ntnu{
                display: none;
            }
        }
        
    }

    .slide_title {
        margin: 0 auto;
        padding: 50px 10%;

        h1 {
            color: $white;
            text-shadow: $black 2px 2px 10px;
        }
    }

    
}

main {
    width: 80%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 40px 0;

    .title_wrap {
        margin: 0 0 40px;

        .title_wrap_subtitle {
            color: $main_color;
            position: relative;
            display: initial;

            &::after {
                content: "";
                position: absolute;
                width: 100%;
                height: 20%;
                left: 0%;
                background-color: $main_color_yellow;
                top: 70%;
                z-index: -1;
            }
        }
    }

    .page_content_wrap {

        .page_content {
            .page_content_img {
                margin: 10px auto 20px;
                border: 3px solid $main_color_yellow;
                border-radius: 5px;
                box-shadow: 10px 13px 13px 0 $box_shadow_color;
            }

            .page_content_part {
                margin: 20px auto;

                .page_content_part_title {
                    padding: 0 0 10px;
                    margin: 0 0 10px;
                    border-bottom: 1px solid $black;

                    a {
                        color: $main_color;
                        background: linear-gradient($main_color_yellow, $main_color_yellow) 0 100%/0 100% no-repeat;

                        &:hover {
                            background-size: 100% 100%;
                            transition: background-size .45s cubic-bezier(.76, 0, .24, 1) 0s;
                            color: darken($main_color, 10%);
                        }

                    }
                }

                .select_area {
                    display: flex;
                    align-items: center;
                    margin: 0 0 25px;

                    .select_title {
                        margin: 0 10px 0 0;
                    }

                    .select {
                        position: relative;
                        width: 180px;
                        border: 1px solid $black;
                        border-radius: 5px;
                        padding: 3px 10px;
                        cursor: pointer;

                        .selected {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                        }

                        .filters {
                            display: none;
                            position: absolute;
                            left: 0;
                            top: calc(100% + 5px);
                            width: 100%;
                            background-color: $body_bg;
                            border: 1px solid $main_color;
                            border-radius: 5px;
                            overflow: hidden;

                            .filter_btn {
                                padding: 5px 10px;
                                color: $main_color;
                                width: 100%;
                                text-align: left;
                                border-radius: 0;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                p {
                                    color: $main_color;
                                }

                                span {
                                    display: none;
                                }

                                &.active,
                                &:hover {
                                    background-color: $main_color_yellow;
                                }

                                &.active {
                                    span {
                                        display: block;
                                    }
                                }
                            }

                            &.open {
                                display: block;
                            }
                        }

                        &.active,
                        &:hover {
                            border: 1px solid $main_color;

                            .selected {
                                color: $main_color;

                                p {
                                    color: $main_color;
                                }
                            }
                        }
                    }
                }

                .page_content_paragraph {
                    .page_content_part_text {
                        display: flex;
                        margin: 15px 0 10px;
                        text-indent: 0em;

                        &:nth-child(1) {
                            margin: 0;
                            padding: 0 0 15px;
                        }
                    }

                    &.filterDivs {
                        .hide {
                            display: none;
                        }
                    }
                }

                .page_content_part_text {
                    padding: 0 0 15px;
                    text-indent: 2em;

                    a {
                        color: $main_color;
                        background: linear-gradient($main_color_yellow, $main_color_yellow) 0 100%/0 100% no-repeat;
                        border-bottom: 1px solid $main_color;

                        &:hover {
                            background-size: 100% 100%;
                            transition: background-size .45s cubic-bezier(.76, 0, .24, 1) 0s;
                            color: darken($main_color, 10%);
                        }

                    }

                    &.page_content_part_text_option {
                        margin: 5px 0 5px 2em;
                    }

                    &.border_bottom {
                        border-bottom: 1px dotted $black;

                        &:nth-last-child(1) {
                            border-bottom: 0px;
                        }

                    }
                }

                .page_content_part_subtitle {
                    display: flex;
                    margin: 0 0 5px;
                    font-weight: bold;
                    color: $main_color;

                    .page_content_part_marker {
                        &::after {
                            background-color: $main_color;
                        }
                    }
                }

                .page_content_part_subtitle_content {
                    margin: 0 0 15px calc(1rem + 3px);
                }


            }
        }

        &.page_content_wrap_both {
            display: flex;
            flex-direction: column;

            .both_menu {
                width: 100%;
                margin: 20px auto 40px;

                ul {
                    display: flex;
                    flex-wrap: wrap;
                    flex-direction: column;

                    .both_menu_item{
                        display: flex;
                        flex-wrap: wrap;
                        margin: 15px 0;

                        .both_menu_title {
                            width: 100%;
                            border-bottom: 1px solid $black;
                            padding: 10px 0;
                            margin: 0 0 10px;
                        }
    
                        .both_menu_link {
    
                            &:hover,
                            &.active {
                                color: $main_color;
                            }
                        }
    
                        li {
                            border-right: 1px solid;
                            padding: 0 10px;
    
                            &:nth-last-child(1) {
                                border-right: 0px;
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                    
                }
            }
        }
    }

    .page_content_part_marker {
        margin: 0 15px 0 0;
        width: 7;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            background-color: $black;
            transform: translate(0px, -50%);
            border-radius: 50%;
            left: 0;
            top: calc(14px * 0.85);
            width: 7px;
            height: 7px;
        }

        &.border_marker {
            &::after {
                background-color: transparent;
                border: 1px solid $black;
            }
        }
    }

    .page_content_part_marker_text {
        width: calc(100% - 7px - 15px);
    }

    .scroll_top {
        position: fixed;
        right: 1%;
        bottom: 30px;
        max-width: 50px;
        width: 8%;
        cursor: pointer;

        .scroll_top_arrow {
            fill: $main_color;
            position: absolute;
        }

        .scroll_top_border {
            stroke: $main_color;
            fill: none;
            stroke-width: 1px;
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            transition: 0.8s;
        }

        &:hover {
            .scroll_top_border {
                stroke-dashoffset: 0;
            }
        }
    }
}
@media screen and (min-width: 500px) {
    .slide {
    
        &.slide_index{

            .slide_index_area{
                padding: 15px 5% 0;

                .slide_title_index {
                    width: 65%;
                    .slide_name{
                        display: flex;
                        align-items: center;
                        h3{
                            margin: 0 10px 0 0;
                        }
                    }
                    .slide_information{
                        .slide_information_text{
                            p{
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                }
        
                .slide_figure{
                    width: 35%;
                }
            }
            
        }
        
    }
}

@media screen and (min-width: 576px) {
    .slide {
    
        &.slide_index{
           

            .slide_index_area{
                align-items: center;
                .slide_title_index {
                    width: 65%;
                    .slide_name{
                        display: flex;
                        align-items: center;
                        h3{
                            margin: 0 10px 0 0;
                        }

                        p{
                            font-size: 20px;
                        }
                    }
                    .slide_information{
                        .slide_information_text{
                            p{
                                padding: 0 0 0 10px;
                            }
                        }
                    }
                }
        
                .slide_figure{
                    width: 35%;
                }
            }
    
            
        }
        
    }
}


@media screen and (min-width: 768px) {
    .slide {
        .slide_title {
            padding: 80px 10%;
        }

        &.slide_index{
    
            .slide_index_area{
                .slide_title_index {
                    width: 60%;
                    padding: 0 15px 20px 0;
                    .slide_name{
                        h3{
                            font-size: 50px;
                        }

                        p{
                            font-size: 25px;
                        }
                    }
                    .slide_information{
                        .slide_information_text{
                            p{
                                padding: 0 0 0 15px;
                            }
                        }
                    }
                }
            }
            

            
        }
    }

    main {

        .page_content_wrap {

            .page_content {
                .page_content_img {
                    margin: 10px auto 40px;
                }

                .page_content_part {
                    margin: 20px auto;

                    .page_content_part_title {
                        padding: 0 0 20px;
                        margin: 0 0 20px;
                    }

                    .select_area {
                        margin: 0 0 40px;

                        .select {
                            width: 230px;
                        }
                    }

                    .page_content_paragraph {
                        .page_content_part_text {
                            margin: 20px 0 10px;

                            &:nth-child(1) {
                                padding: 0 0 20px;
                            }
                        }
                    }

                    .page_content_part_text {
                        padding: 0 0 20px;
                    }

                    .page_content_part_subtitle_content {
                        margin: 0 0 20px calc(1rem + 3px);
                    }
                }
            }

        }

        .page_content_part_marker {

            &::after {
                top: calc(15px * 0.85);
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .slide {

        &.slide_index{
    
            .slide_index_area{
                .slide_title_index {
                    padding: 0 30px 20px 0;
                }
        
                .slide_figure{
                    width: 30%;
                }
    
                
            }
            
        }
    }
    main {

        .page_content_part_marker {

            &::after {
                top: calc(17px * 0.85);
            }
        }

        .scroll_top {
            width: 50px;
            right: 5%;
            bottom: 50px;
            transform: translate(50%, 0px);
        }
    }
}

@media screen and (min-width: 1200px) {

    .slide {

        &.slide_index{
            justify-content: center;
    
            .slide_index_area{
                width: 80%;
                .slide_title_index {
                    width: auto;
                    padding: 0 80px 20px 0;

                    .slide_name{
                        h3{
                            font-size: 60px;
                        }
                        p{
                            font-size: 30px;
                        }
                    }
                }

                .slide_figure{
                    position: relative;
                    z-index: 1;
                    width: 300px;
                }
    
                .slide_ntnu{
                    display: block;
                    width: 30%;
                    position: absolute;
                    left: calc(50% + 350px);
                }
            }
            
        }
    }

    main {

        .page_content_wrap {

            .page_content {
                .page_content_img {
                    margin: 10px auto 40px;
                }

                .page_content_part {

                    .page_content_part_title {
                        padding: 0 0 20px;
                        margin: 0 0 20px;
                    }

                    .select_area {
                        .select {
                            width: 250px;
                        }
                    }

                    .page_content_part_subtitle_content {
                        margin: 0 0 20px calc(1rem + 3px);
                    }
                }
            }

            &.page_content_wrap_both {
                flex-direction: row;
                justify-content: space-between;

                .both_menu {
                    width: 20%;
                    margin: 0;

                    ul {
                        position: sticky;
                        top: 120px;

                        .both_menu_item{
                            .both_menu_title {
                                color: $main_color;
                                padding: 20px 0;
                                margin: 0 0 20px;
                            }
    
                            .both_menu_link {
                                position: relative;
    
                                &.active {
                                    &:before {
                                        position: absolute;
                                        right: 0%;
                                        display: inline-block;
                                        content: '\f061';
                                        font: var(--fa-font-solid);
                                        color: $main_color;
                                        opacity: 1;
                                        visibility: visible;
                                        top: 50%;
                                        transform: translate(calc(100% + 10px), -50%);
                                    }
                                }
                            }
    
                            li {
                                border-right: 0px solid;
                                padding: 0;
                                margin: 5px 0;
                                width: 100%;
    
                                &:nth-last-child(1) {
                                    padding: 0;
                                }
                            }
                        }

                        

                    }
                }

                .page_content {
                    width: 75%;
                }
            }

        }

        .page_content_part_marker {

            &::after {
                top: calc(19px * 0.85);
            }
        }
    }
}


@media screen and (min-width: 1400px) {

    .slide {

        &.slide_index{

            .slide_index_area{
                .slide_figure{
                    width: 350px;
                }
    
                .slide_ntnu{
                    left: calc(50% + 350px);
                    width: 35%;
                }
            }
            
        }
    }

    main {
        .page_content_part_marker {

            &::after {
                top: calc(20px * 0.85);
            }
        }
    }
}