main {

    .about_area {
        margin: 20px auto;

        .about_area_item {
            .about_area_title {
                margin: 0 0 20px 0;
                border-bottom: 1px solid $black;
                padding: 0 0 20px 0;
            }

            .about_area_content {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;

                .about_area_content_item {
                    background-color: $white;
                    box-shadow: 2px 9px 46px 0px $box_shadow_color;
                    padding: 20px 30px;
                    margin: 10px 0 10px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    border-radius: 5px;

                    .about_index {
                        display: flex;
                        align-items: flex-end;
                        justify-content: space-between;
                        width: 100%;
                        padding: 0 0 20px;

                        h3 {
                            font-size: 60px;
                            line-height: 1;
                        }

                        h4 {
                            line-height: 1;
                            color: $main_color;
                        }

                    }

                    .about_body {
                        padding: 20px 0 0;
                        width: 100%;
                        border-top: 1px solid $black;

                        .about_body_item {
                            display: flex;
                            margin: 0 0 10px 0;

                            .page_content_part_marker_text {
                                display: flex;
                                flex-direction: column;

                                .page_content_part_marker_text_time {
                                    margin: 0 10px 0 0;
                                }

                                .page_content_part_marker_text_important{
                                    color: $black;
                                }
                            }
                        }

                        .about_body_table{
                            overflow-x: scroll;
                            table { 
                                width: 100%; 
                                min-width: 1050px;
                                border-collapse: collapse; 
                                thead{
                                    tr{
                                        th{
                                            &:nth-child(1){
                                                width: 30%;
                                            }
                                            &:nth-child(2){
                                                width: 30%;
                                            }
                                            &:nth-child(3){
                                                width: 20%;
                                            }
                                            &:nth-child(4){
                                                width: 20%;
                                            }
                                        }
                                    }
                                }

                                tbody{
                                    tr{
                                        &:nth-child(odd){
                                            background-color:$light_grey;
                                            td{
                                                border: 1px solid $white;
                                            }
                                            }

                                            &:hover{
                                                background-color: lighten($main_color, 25%);
                                                td{
                                                    color: $main_color_yellow;
                                                }
                                            }
                                    }
                                }
                                tr{
                                    th { 
                                        background-color: $main_color; 
                                        color: $white; 
                                        font-weight: bold; 
                                        }
                                        td, th { 
                                            padding: 10px; 
                                            border: 1px solid $grey; 
                                            text-align: center; 
                                            }
                                }
                                }

                                &::-webkit-scrollbar{
                                    background: transparent;
                                    height: 8px;
                                    width: 8px;
                                }
                                &::-webkit-scrollbar-thumb {
                                    border: none;
                                    box-shadow: none;
                                    background: $main_color;
                                    border-radius: 4px;
                                    min-height: 40px;
                                }
                                &::-webkit-scrollbar-track{
                                    margin: 3px 0;
                                }
                        }

                        .timeline_area {
                            padding: 30px 0;
                            position: relative;
                        
                            &::before {
                                content: "";
                                position: absolute;
                                left: 0%;
                                top: 0;
                                transform: translate(-50%, 0%);
                                width: 3px;
                                height: 100%;
                                background-color: $main_color;
                        
                            }
                        
                            .timeline_item {
                                position: relative;
                                margin: 0 0 40px 0;
                        
                                &:last-of-type {
                                    margin: 0;
                                }
                        
                                .timeline_year {
                                    position: relative;
                                    left: 20px;
                                    transform: translate(0%, 0%);
                                    margin: 0 0 20px;
                                }
                        
                                .timeline_right {
                                    margin: 0 0 0 20px;
                        
                                    .timeline_right_content {
                                        .timeline_right_content_item {
                                            margin: 20px 0;
                        
                                            .timeline_title {
                                                color: $main_color;
                                                margin: 0 0 5px;
                                            }
                                        }
                                    }
                        
                                }
                        
                                &::before {
                                    content: "";
                                    position: absolute;
                                    top: calc(19px * 1.5 / 2);
                                    left: 0;
                                    background-color: $body_bg;
                                    border: 1px solid $main_color;
                                    border-radius: 50%;
                                    height: 15px;
                                    width: 15px;
                                    transform: translate(-50%, -50%);
                                }
                            }
                        }
                    }

                }
            }

        }


    }
}

@media screen and (min-width: 576px) {}

@media screen and (min-width: 768px) {
    main {
        .about_area {
    
            .about_area_item {
    
                .about_area_content {
    
                    .about_area_content_item {
    
                        .about_body {
    
                            .timeline_area {
                            
                                .timeline_item {
                            
                                    &::before {
                                        top: calc(20px * 1.5 / 2);
                                    }
                                }
                            }
                        }
    
                    }
                }
    
            }
    
    
        }
    }
}

@media screen and (min-width: 992px) {
    main {
        .about_area {
            margin: 20px auto;

            .about_area_item {

                .about_area_content {
                    .about_area_content_item {
                        margin: 20px 0;

                        .about_body {

                            .about_body_item {
                                margin: 0 0 20px 0;
                                .page_content_part_marker_text {
                                    flex-direction: row;

                                    .page_content_part_marker_text_time {
                                        margin: 0 20px 0 0;
                                    }
                                }
                            }

                            .timeline_area {
                            
                                &::before{
                                    left: 100px;
                                }
                            
                                .timeline_item {
                                    display: flex;
                                    justify-content: space-between;

                                    .timeline_year{
                                        left: 100px;
                                        transform: translate(calc(-100% - 20px) , 0);
                                    }
                                    .timeline_right{
                                        width: calc(100% - 100px);

                                        .timeline_right_content{
                                            .timeline_right_content_item{
                                                margin: 0 0 40px 20px;
                                            }
                                        }
                                        
                                    }
                            
                                    &::before {
                                        top: calc(23px * 1.5 / 2);
                                        left: 100px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    main {

    }
}

@media screen and (min-width: 1400px) {
    main {

        .about_area {
            .about_area_item {
                .about_area_content {
                    .about_area_content_item {
                        &.two_item {
                            width: 47.5%;
                            .about_body {
                                .about_body_item {
                                    .page_content_part_marker_text {
                                        flex-direction: column;
                                    }
                                }
                            }
                        }

                        .about_body{
                            .timeline_area {
                            
                                .timeline_item {
                            
                                    &::before {
                                        top: calc(26px * 1.5 / 2);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}