main{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0 0;
    .title_name{
        display: flex;
        flex-direction: column;
        margin: 40px auto;
        .name_area{
            .name_area_content{
                display: flex;
                flex-wrap: wrap;
                align-items: baseline;

                .chinese_name{
                    margin: 0 10px 0 0;
                    h3{
                        color: $main_color;
                        font-size: 35px;
    
                        span{
                            font-size: 21px;
                        }
                    }
                }
                .english_name{
                        span{
                            font-size: 21px;
                            color: $main_color;
                        }
                }
            }
            .ntnu_name{
                margin: 10px 0 0 35px;
            }
        }
        .photo_area{
            margin: 35px 0 0 auto;
            position: relative;
            max-width: 450px;

            &::before,
            &::after{
                content: "";
                position: absolute;
                border: 2px solid;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-radius: 50% 0% 0% 0%;
            }

            &::before{
                border-color: $main_color_yellow;
                transform: translate(-10px , -10px);
            }

            &::after{
                border-color: $main_color;
                z-index: -1;
                transform: translate(10px , 10px);
            }

            .photo_area_img{
                border-radius: 50% 0% 0% 0%;
            }
        }
    }
    .about_area{
        margin: 20px auto;

        .about_area_item{
            .about_area_title{
                margin: 0 0 20px 0;
                border-bottom: 1px solid $black;
                padding: 0 0 20px 0;
            }
    
            .about_area_content{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .about_area_content_item{
                    background-color: $white;
                    box-shadow: 2px 9px 46px 0px $box_shadow_color;
                    padding: 20px 30px;
                    margin: 10px 0 10px;
                    display: flex;
                    align-items: flex-start;
                    flex-direction: column;
                    width: 100%;
                    .about_index{

                        h3{
                            font-size: 60px;
                        }
    
                    }
                    .about_body{
                        padding: 10px 0 0;
                        width: 100%;
    
                        .about_area_content_title{
                            margin: 0 0 10px 0;
                        }
                        
                        p{
                            span{
                                color: $main_color;
                            }
                        }

                        .about_body_item{
                            display: flex;
                            margin: 0 0 5px 0;

                            .dot_notation{
                                margin: 0 5px 0 0;
                            }
                        }
                    }
                    
                }
            }
            
        }

        
    }
}

@media screen and (min-width: 576px) {
}

@media screen and (min-width: 768px) {
    main{
        .title_name{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin: 60px auto;

            .name_area{
                width: 50%;
                max-width: calc(100% - 350px);
                .name_area_content{
                    .chinese_name{
                        h3{
                            font-size: 45px;
                        }
                    }
                    .english_name{
                            span{
                                font-size: 24px;
                            }
                    }
                }
                .ntnu_name{
                    margin: 10px 0 0 25px;
                }
            }

            .photo_area{
                margin: 0;
                width: 50%;
                max-width: 340px;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    main{
        .title_name{
            margin: 80px auto;
            .name_area{
                max-width: calc(100% - 450px);
                .name_area_content{
                    .chinese_name{
                        h3{
                            font-size: 65px;
                        }
                    }
                    .english_name{
                            span{
                                font-size: 30px;
                            }
                    }
                }
            }
            .photo_area{
                max-width: 450px;
            }
        }

        .about_area{
            margin: 20px auto;
    
            .about_area_item{
        
                .about_area_content{
                    .about_area_content_item{
                        width: 45%;
                        margin: 15px 2.5%;
                    }
                }
            }
    
            
        }
    }
}

@media screen and (min-width: 1200px) {
    main{
        .title_name{
            margin: 100px auto;
            justify-content: center;
            .name_area{
                max-width: calc(100% - 450px);
                .name_area_content{
                    .chinese_name{
                        h3{
                            font-size: 65px;
                        }
                    }
                    .english_name{
                            span{
                                font-size: 30px;
                            }
                    }
                }
                .ntnu_name{
                    margin: 10px 0 0 65px;
                }
            }
            .photo_area{
                max-width: 550px;
            }
        }

        .about_area{
    
            .about_area_item{
        
                .about_area_content{
                    .about_area_content_item{
                        
                        .about_body{
    
                            .about_body_item{
    
                                .dot_notation{
                                    margin: 0 10px 0 0;
                                }
                            }
                        }
                        
                    }
                }
                
            }
    
            
        }
    }
}

@media screen and (min-width: 1400px) {
    main{
        .about_area{
    
            .about_area_item{
        
                .about_area_content{
                        .about_body{
                            border-top: 1px solid $grey;
                        }
                        
                    }
                }
                
            }
    
            
        }
    }
