$header_bg: #F2F2F2;
$body_bg: #fff1d4;
$box_shadow_color:#62677717;

/*main*/
$main_color:             #007ECA;
$main_color_red:	  	 #d75298; 
$main_color_black:	     #2e3233; 
$main_color_blue:		 #2194d3; 
$main_color_yellow:	 	 #f8b62d;
$main_color_orange:      #ed710e;
$main_color_green:       #00a29a;
$main_color_purpleLight: #9a85bd; 
$main_color_purpleDarken:#654d8f;
$main_color_orangeLight: #f6a96b;
$main_color_orangeDarken:#bd5a0b;

/*transparency*/
$main_color_40:#ed710e40;
$main_color_25:#ed710e25;
$white_50:#ffffff80;
$main_color_green_70:    #00a29ab3;
$main_color_blue_70:    #2194d3b3;
$main_color_red_70:    #d75298b3;


/*other*/
$white:#fff;
$grey: grey;
$black:#151515;
$glow_color:#fcff50;
$correct_answer:#b8e79a;
$correct_text:#375e1e;
$wrong_answer:#b5cbf3;
$wrong_text:#1c4ca3;
$wrong_answer:#efbad6;
$wrong_text:#c82e7f;
$dropdownBg:#33333326;
