$header_bg: #F2F2F2;
$body_bg: #fff1d4;
$box_shadow_color:#33333370;

/*main*/
$main_color: #007ECA;
$main_color_yellow: #ffe503;

/*other*/
$white:#fff;
$grey: grey;
$black:#151515;
$glow_color:#fcff50;
$correct_answer:#b8e79a;
$correct_text:#375e1e;
$wrong_answer:#b5cbf3;
$wrong_text:#1c4ca3;
$wrong_answer:#efbad6;
$wrong_text:#c82e7f;
$dropdownBg:#33333326;
