footer{
    background-color: $black;
    padding: 40px 10%;
    .footer_area{
        .footer_logo{
            width: 40%;
            max-width: 350px;
        }
        .footer_information{
            margin: 20px 0 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer_information_text{
                color: $white;
                margin: 10px 10px 10px 0;
                a{
                    color: $white;

                    &:hover{
                        color: $main_color_yellow;
                    }
                }
            }
            .footer_copyright_text{
                color: $copyright_color;
                margin: 10px 0;
            }
        }
    }
}

@media screen and (min-width: 768px){
    footer{
        .footer_area{
            .footer_information{
                margin: 40px 0 0;
                .footer_information_text{
                    margin: 20px 20px 20px 0;
                }
                .footer_copyright_text{
                    margin: 20px 0;
                }
            }
        }
    }
}