footer{
    background-color: $black;
    padding: 40px 10%;
    .footer_area{
        .footer_logo{
            width: 40%;
            max-width: 350px;
        }
        .footer_information{
            margin: 20px 0 0;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .footer_copyright_text{
                color: $copyright_color;
                margin: 10px 0;
            }
        }
    }

    .contact_area{
        position: fixed;
        right: 1%;
        bottom: 30px;
        background-color: $white;
        width: 60px;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
    }
    .fa-xmark {
        font-size: 40px;
    }

    .modal_contact{
        .modal-dialog{
            .modal-content{
                .modal-header{
                    padding: 10px 20px;
                }
                .modal-body{
                    padding: 10px 20px;
                    .modal_contact_item{
                        display: flex;
                        align-items: flex-start;
                        border-bottom: 1px dotted $black;
                        padding: 10px 0;

                        &:nth-last-child(1){
                            border-bottom: 0;
                        }

                        .modal_contact_item_title{
                            p{
                                word-break: keep-all;
                            }
                        }

                        .modal_contact_item_content{
                            border: 0px;
                            .modal_contact_item_content_item{
                                display: flex;
                                flex-wrap: wrap;
                            }

                            a{
                                color: $main_color;
                                border-bottom: 1px solid $main_color;
                                background: linear-gradient($main_color_yellow, $main_color_yellow) 0 100%/0 100% no-repeat;

                                &:hover {
                                    background-size: 100% 100%;
                                    transition: background-size .45s cubic-bezier(.76, 0, .24, 1) 0s;
                                    color: darken($main_color, 10%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .scroll_top {
        position: fixed;
        right: 1%;
        bottom: 60px;
        max-width: 50px;
        width: 8%;
        cursor: pointer;

        .scroll_top_arrow {
            fill: $main_color;
            position: absolute;
        }

        .scroll_top_border {
            stroke: $main_color;
            fill: none;
            stroke-width: 1px;
            stroke-dasharray: 100;
            stroke-dashoffset: 100;
            transition: 0.8s;
        }

        &:hover {
            .scroll_top_border {
                stroke-dashoffset: 0;
            }
        }
    }
}

@media screen and (min-width: 768px){
    footer{
        .footer_area{
            .footer_information{
                margin: 40px 0 0;
                .footer_copyright_text{
                    margin: 20px 0;
                }
            }
        }
    }
}

@media screen and (min-width: 992px){
    footer{
        .scroll_top {
            width: 50px;
            right: 5%;
            bottom: 50px;
            transform: translate(50%, 0px);
        }
    }
}