body {
  font-family: 'Noto Sans', 'Noto Sans TC', 'Noto Sans SC', 'Microsoft JhengHei', 'Noto Sans TC', 'Microsoft YaHei', 'PingFang TC', 'PingFang SC', 'Heiti TC', 'Heiti SC', 'LiHei Pro', 'STXihei', sans-serif;
}

/*main*/
/*other*/
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
a,
blockquote,
th,
td,
figure {
  margin: 0;
  padding: 0;
  list-style: none;
  font-weight: 400;
  color: #2f2f2f;
}

h1 {
  font-size: 29px;
  line-height: 1.7;
  font-weight: bold;
}

h3 {
  font-size: 27px;
  line-height: 1.7;
  font-weight: bold;
}

h4 {
  font-size: 19px;
  line-height: 1.5;
  font-weight: bold;
}

h4 a {
  font-size: 19px;
  line-height: 1.5;
  font-weight: bold;
}

h5 {
  font-size: 16px;
  line-height: 1.7;
}

p {
  font-size: 14px;
  line-height: 1.7;
}

span,
th,
td,
ul,
li,
select,
option {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}

a {
  font-size: 14px;
  text-decoration: none;
  line-height: 1.7;
}

a:active {
  border-style: none;
  border: 0px;
}

b {
  color: #2f2f2f;
}

ruby {
  letter-spacing: 1.8px;
  line-height: 3;
}

rt {
  transform: translateY(-35%);
}

input,
label {
  font-size: 14px;
  line-height: 1.7;
}

input[type=file]::file-selector-button {
  display: none;
}

img {
  width: 100%;
  line-height: 0;
}

button {
  padding: 0;
  border-width: 0px;
  border-style: none;
  background-color: transparent;
  border-radius: 10px;
  cursor: pointer;
}

button:disabled {
  background-color: #E5E5E5 !important;
  border: 1px solid #E5E5E5 !important;
  opacity: 0.5;
  cursor: auto !important;
}

button:disabled a {
  color: #fff !important;
  cursor: auto;
}

*,
body {
  letter-spacing: 1.5px;
  box-sizing: border-box;
}

body {
  background-color: #f0f2f2;
}

.cursor {
  cursor: pointer;
}

.text_center {
  text-align: center;
}

::selection {
  background: #ffe503;
  color: #007ECA;
}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  h4 {
    font-size: 20px;
  }
  h4 a {
    font-size: 20px;
  }
  h5 {
    font-size: 17px;
  }
  p {
    font-size: 15px;
  }
  span,
  th,
  td,
  ul,
  li,
  select,
  option {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  input,
  label {
    font-size: 15px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 39px;
  }
  h3 {
    font-size: 29px;
  }
  h4 {
    font-size: 23px;
  }
  h4 a {
    font-size: 23px;
  }
  h5 {
    font-size: 19px;
  }
  p {
    font-size: 17px;
  }
  span,
  th,
  td,
  ul,
  li,
  select,
  option {
    font-size: 17px;
  }
  a {
    font-size: 17px;
  }
  input,
  label {
    font-size: 17px;
  }
}

@media screen and (min-width: 1200px) {
  h5 {
    font-size: 21px;
  }
  p {
    font-size: 19px;
  }
  span,
  th,
  td,
  ul,
  li,
  select,
  option {
    font-size: 19px;
  }
  a {
    font-size: 19px;
  }
  input,
  label {
    font-size: 19px;
  }
}

@media screen and (min-width: 1400px) {
  h1 {
    font-size: 44px;
  }
  h3 {
    font-size: 32px;
  }
  h4 {
    font-size: 26px;
  }
  h4 a {
    font-size: 26px;
  }
  h5 {
    font-size: 22px;
  }
  p {
    font-size: 20px;
  }
  span,
  th,
  td,
  ul,
  li,
  select,
  option {
    font-size: 20px;
  }
  a {
    font-size: 20px;
  }
  input,
  label {
    font-size: 20px;
  }
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  top: 0;
  z-index: 3;
  background-color: #fff;
}

header .navbar {
  width: 100%;
  padding: 0;
}

header .navbar .container-fluid {
  padding: 8px 5%;
}

header .navbar .container-fluid .navbar-logo {
  display: flex;
  align-items: center;
  width: 45%;
}

header .navbar .container-fluid .navbar-logo img {
  max-width: 280px;
}

header .navbar .container-fluid .navbar-brand {
  position: absolute;
  left: 0;
}

header .navbar .container-fluid .navbar-toggler {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0px;
  height: 55px;
}

header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
  background-image: none;
  width: 35px;
  height: 4px;
  background-color: #2f2f2f;
  transform-origin: center;
  transition: all .2s 0s ease;
}

header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon:nth-child(1) {
  transform: translate(0, -5px);
}

header .navbar .container-fluid .navbar-toggler .navbar-toggler-icon:nth-last-child(1) {
  transform: translate(0, 5px);
}

header .navbar .container-fluid .navbar-toggler.open .navbar-toggler-icon {
  display: none;
}

header .navbar .container-fluid .navbar-toggler.open .navbar-toggler-icon:nth-child(1) {
  display: block;
  transform: translate(0, 2px) rotate(135deg);
}

header .navbar .container-fluid .navbar-toggler.open .navbar-toggler-icon:nth-last-child(1) {
  display: block;
  transform: translate(0, -2px) rotate(-135deg);
}

header .navbar .container-fluid .navbar-collapse {
  flex-grow: initial;
  background-color: #fff;
  width: 100%;
  position: absolute;
  left: 0;
  top: 55px;
}

header .navbar .container-fluid .navbar-collapse .navbar-nav {
  padding: 5px 20px;
  height: calc(100svh - 55px);
  height: calc(100vh - 55px);
  overflow-y: scroll;
}

header .navbar .container-fluid .navbar-collapse .navbar-nav::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

header .navbar .container-fluid .navbar-collapse .navbar-nav::-webkit-scrollbar-thumb {
  border: none;
  box-shadow: none;
  background: #007ECA;
  border-radius: 4px;
  min-height: 40px;
}

header .navbar .container-fluid .navbar-collapse .navbar-nav::-webkit-scrollbar-track {
  margin: 3px 0;
}

header .navbar .container-fluid .navbar-collapse .nav-item {
  border-bottom: 2px solid #2f2f2f;
}

header .navbar .container-fluid .navbar-collapse .nav-item .nav-link {
  color: #2f2f2f;
  padding: 20px 0px 10px 10px;
  position: relative;
}

header .navbar .container-fluid .navbar-collapse .nav-item .nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #007ECA;
  left: 0;
  bottom: 15px;
  display: none;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle {
  padding: 20px 30px 10px 10px;
  position: relative;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle::after {
  position: absolute;
  right: 0px;
  display: inline-block;
  content: '\f063';
  font: var(--fa-font-solid);
  color: #2f2f2f;
  top: 50%;
  transform: translate(0, -50%);
  border: 0;
  transition: .2s ease-in-out;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle.show::after {
  transform: translate(0, -50%) rotate(180deg);
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu {
  transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
  position: relative;
  width: 100%;
  border-radius: 5px;
  opacity: 1;
  visibility: visible;
  background-color: transparent;
  padding: 10px 20px;
  border: 0px;
  top: auto;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item {
  position: relative;
  color: #2f2f2f;
  padding: 10px 0px;
  font-weight: 400;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:before {
  position: absolute;
  left: -25px;
  display: inline-block;
  content: '\f061';
  font: var(--fa-font-solid);
  color: #007ECA;
  opacity: 0;
  visibility: hidden;
  top: 50%;
  transform: translate(0px, -50%);
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 1px;
  background: #007ECA;
  transition: all .2s 0s ease;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:hover {
  padding: 10px 0 10px 35px;
  transition: .2s ease-in-out;
  background-color: transparent;
  color: #007ECA;
  font-weight: bold;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:hover:before {
  left: 5px;
  color: #007ECA;
  opacity: 1;
  visibility: visible;
  transition: .2s ease-in-out;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item:hover:after {
  width: 100%;
  transition: all .2s 0s ease;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme {
  justify-content: space-around;
  flex-direction: column;
  padding: 10px 20px 20px;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content {
  width: 100%;
  padding: 0 5px;
  margin: 0 10px 20px;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link {
  padding: 10px 0;
  margin: 0;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link:after {
  opacity: 0;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link:hover {
  font-weight: 400;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link.dropdown-toggle {
  color: #007ECA;
  border-bottom: 1px solid #2f2f2f;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content ul {
  padding: 0 10px;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content ul li {
  padding: 0 5px;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme.show {
  display: flex;
}

header .navbar .container-fluid .navbar-collapse .nav-item .dropdownBg {
  transition: all 0.5s cubic-bezier(0.43, 0.05, 0.17, 1);
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #33333326;
  visibility: hidden;
  opacity: 0;
}

header.fixed_header {
  border-bottom: 1.5px solid #007ECA;
  box-shadow: 2px 9px 46px 0px #2f2f2f1f;
  position: fixed;
}

@media screen and (min-width: 576px) {
  header .navbar .container-fluid .navbar-collapse {
    width: 65%;
  }
}

@media screen and (min-width: 992px) {
  header {
    padding: 0px;
  }
  header .navbar .container-fluid .navbar-toggler {
    display: none;
  }
  header .navbar .container-fluid .navbar-collapse {
    position: initial;
    width: auto;
    background-color: transparent;
    height: auto;
    padding: 0;
  }
  header .navbar .container-fluid .navbar-collapse .navbar-nav {
    padding: 0;
    height: auto;
    overflow: initial;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item {
    border-bottom: 0px;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .nav-link {
    margin: 20px 8px 0;
    padding: 0 5px 20px;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .nav-link:hover {
    font-weight: bold;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .nav-link:hover::before {
    display: block;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-toggle::after {
    display: none;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu {
    position: absolute;
    width: 250px;
    background-color: #fff;
    left: auto;
    right: 0;
    margin-top: 0;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu li .dropdown-item {
    white-space: initial;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.show ~ .dropdownBg {
    opacity: 1;
    visibility: visible;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme {
    flex-direction: row;
    justify-content: flex-start;
    width: auto;
    max-width: 540px;
    overflow-x: scroll;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content {
    width: auto;
    margin: 0 10px;
    min-width: 265px;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme .dropdown-menu-theme-content .nav-link:hover::before {
    display: none;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme.show {
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  header .navbar .container-fluid .navbar-logo {
    max-width: 450px;
  }
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme {
    max-width: 740px;
  }
}

@media screen and (min-width: 1400px) {
  header .navbar .container-fluid .navbar-collapse .nav-item .dropdown-menu.dropdown-menu-theme {
    max-width: 895px;
  }
}

footer {
  background-color: #2f2f2f;
  padding: 40px 10%;
}

footer .footer_area .footer_logo {
  width: 40%;
  max-width: 350px;
}

footer .footer_area .footer_information {
  margin: 20px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .footer_area .footer_information .footer_information_text {
  color: #fff;
  margin: 10px 10px 10px 0;
}

footer .footer_area .footer_information .footer_information_text a {
  color: #fff;
}

footer .footer_area .footer_information .footer_information_text a:hover {
  color: #ffe503;
}

footer .footer_area .footer_information .footer_copyright_text {
  color: #999;
  margin: 10px 0;
}

@media screen and (min-width: 768px) {
  footer .footer_area .footer_information {
    margin: 40px 0 0;
  }
  footer .footer_area .footer_information .footer_information_text {
    margin: 20px 20px 20px 0;
  }
  footer .footer_area .footer_information .footer_copyright_text {
    margin: 20px 0;
  }
}

.slide {
  position: relative;
}

.slide.slide_laboratory {
  background-image: url(../image/slide/slide_laboratory.png);
}

.slide.slide_society {
  background-image: url(../image/slide/slide_society.png);
}

.slide.slide_research {
  background-image: url(../image/slide/slide_research.png);
}

.slide.slide_index {
  background: linear-gradient(90deg, #fff 60%, #5167b0 0%);
  overflow: hidden;
}

.slide.slide_index .slide_index_area {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 15px 10px 0;
  max-width: 1200px;
  position: relative;
  margin: 0 auto;
  background: linear-gradient(70deg, #fff 60%, #5167b0 0%);
}

.slide.slide_index .slide_index_area .slide_title_index {
  width: 55%;
  margin: 0;
  padding: 0 5px 20px;
}

.slide.slide_index .slide_index_area .slide_title_index .slide_name {
  margin: 0 0 5px;
}

.slide.slide_index .slide_index_area .slide_title_index .slide_name h3 {
  font-size: 37px;
  color: #007ECA;
}

.slide.slide_index .slide_index_area .slide_title_index .slide_name p {
  color: #007ECA;
  font-weight: bold;
}

.slide.slide_index .slide_index_area .slide_title_index .slide_information .slide_information_text {
  display: flex;
  flex-wrap: wrap;
  margin: 5px 0;
}

.slide.slide_index .slide_index_area .slide_title_index .slide_information .slide_information_text p {
  padding: 0 0 0 8px;
}

.slide.slide_index .slide_index_area .slide_title_index .slide_information .slide_information_text p:nth-child(1) {
  margin-right: 5px;
  position: relative;
}

.slide.slide_index .slide_index_area .slide_title_index .slide_information .slide_information_text p:nth-child(1)::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  background-color: #2f2f2f;
  border-radius: 50%;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}

.slide.slide_index .slide_index_area .slide_figure {
  width: 45%;
}

.slide.slide_index .slide_index_area .slide_ntnu {
  display: none;
}

.slide .slide_title {
  margin: 0 auto;
  padding: 50px 10%;
}

.slide .slide_title h1 {
  color: #fff;
  text-shadow: #2f2f2f 2px 2px 10px;
}

main {
  width: 80%;
  max-width: 1200px;
  margin: 40px auto;
  padding: 40px 0;
}

main .title_wrap {
  margin: 0 0 40px;
}

main .title_wrap .title_wrap_subtitle {
  color: #007ECA;
  position: relative;
  display: initial;
}

main .title_wrap .title_wrap_subtitle::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 20%;
  left: 0%;
  background-color: #ffe503;
  top: 70%;
  z-index: -1;
}

main .page_content_wrap .page_content .page_content_img {
  margin: 10px auto 20px;
  border: 3px solid #ffe503;
  border-radius: 5px;
  box-shadow: 10px 13px 13px 0 #2f2f2f1f;
}

main .page_content_wrap .page_content .page_content_part {
  margin: 20px auto;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_title {
  padding: 0 0 10px;
  margin: 0 0 10px;
  border-bottom: 1px solid #2f2f2f;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_title a {
  color: #007ECA;
  background: linear-gradient(#ffe503, #ffe503) 0 100%/0 100% no-repeat;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_title a:hover {
  background-size: 100% 100%;
  transition: background-size 0.45s cubic-bezier(0.76, 0, 0.24, 1) 0s;
  color: #005e97;
}

main .page_content_wrap .page_content .page_content_part .select_area {
  display: flex;
  align-items: center;
  margin: 0 0 25px;
}

main .page_content_wrap .page_content .page_content_part .select_area .select_title {
  margin: 0 10px 0 0;
}

main .page_content_wrap .page_content .page_content_part .select_area .select {
  position: relative;
  width: 180px;
  border: 1px solid #2f2f2f;
  border-radius: 5px;
  padding: 3px 10px;
  cursor: pointer;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .selected {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .filters {
  display: none;
  position: absolute;
  left: 0;
  top: calc(100% + 5px);
  width: 100%;
  background-color: #f0f2f2;
  border: 1px solid #007ECA;
  border-radius: 5px;
  overflow: hidden;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .filters .filter_btn {
  padding: 5px 10px;
  color: #007ECA;
  width: 100%;
  text-align: left;
  border-radius: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .filters .filter_btn p {
  color: #007ECA;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .filters .filter_btn span {
  display: none;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .filters .filter_btn.active, main .page_content_wrap .page_content .page_content_part .select_area .select .filters .filter_btn:hover {
  background-color: #ffe503;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .filters .filter_btn.active span {
  display: block;
}

main .page_content_wrap .page_content .page_content_part .select_area .select .filters.open {
  display: block;
}

main .page_content_wrap .page_content .page_content_part .select_area .select.active, main .page_content_wrap .page_content .page_content_part .select_area .select:hover {
  border: 1px solid #007ECA;
}

main .page_content_wrap .page_content .page_content_part .select_area .select.active .selected, main .page_content_wrap .page_content .page_content_part .select_area .select:hover .selected {
  color: #007ECA;
}

main .page_content_wrap .page_content .page_content_part .select_area .select.active .selected p, main .page_content_wrap .page_content .page_content_part .select_area .select:hover .selected p {
  color: #007ECA;
}

main .page_content_wrap .page_content .page_content_part .page_content_paragraph .page_content_part_text {
  display: flex;
  margin: 15px 0 10px;
  text-indent: 0em;
}

main .page_content_wrap .page_content .page_content_part .page_content_paragraph .page_content_part_text:nth-child(1) {
  margin: 0;
  padding: 0 0 15px;
}

main .page_content_wrap .page_content .page_content_part .page_content_paragraph.filterDivs .hide {
  display: none;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_text {
  padding: 0 0 15px;
  text-indent: 2em;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_text a {
  color: #007ECA;
  background: linear-gradient(#ffe503, #ffe503) 0 100%/0 100% no-repeat;
  border-bottom: 1px solid #007ECA;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_text a:hover {
  background-size: 100% 100%;
  transition: background-size 0.45s cubic-bezier(0.76, 0, 0.24, 1) 0s;
  color: #005e97;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_text.page_content_part_text_option {
  margin: 5px 0 5px 2em;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_text.border_bottom {
  border-bottom: 1px dotted #2f2f2f;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_text.border_bottom:nth-last-child(1) {
  border-bottom: 0px;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_subtitle {
  display: flex;
  margin: 0 0 5px;
  font-weight: bold;
  color: #007ECA;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_subtitle .page_content_part_marker::after {
  background-color: #007ECA;
}

main .page_content_wrap .page_content .page_content_part .page_content_part_subtitle_content {
  margin: 0 0 15px calc(1rem + 3px);
}

main .page_content_wrap.page_content_wrap_both {
  display: flex;
  flex-direction: column;
}

main .page_content_wrap.page_content_wrap_both .both_menu {
  width: 100%;
  margin: 20px auto 40px;
}

main .page_content_wrap.page_content_wrap_both .both_menu ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item {
  display: flex;
  flex-wrap: wrap;
  margin: 15px 0;
}

main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item .both_menu_title {
  width: 100%;
  border-bottom: 1px solid #2f2f2f;
  padding: 10px 0;
  margin: 0 0 10px;
}

main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item .both_menu_link:hover, main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item .both_menu_link.active {
  color: #007ECA;
}

main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item li {
  border-right: 1px solid;
  padding: 0 10px;
}

main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item li:nth-last-child(1) {
  border-right: 0px;
  padding: 0 0 0 10px;
}

main .page_content_part_marker {
  margin: 0 15px 0 0;
  width: 7;
  position: relative;
}

main .page_content_part_marker::after {
  content: "";
  position: absolute;
  background-color: #2f2f2f;
  transform: translate(0px, -50%);
  border-radius: 50%;
  left: 0;
  top: calc(14px * 0.85);
  width: 7px;
  height: 7px;
}

main .page_content_part_marker.border_marker::after {
  background-color: transparent;
  border: 1px solid #2f2f2f;
}

main .page_content_part_marker_text {
  width: calc(100% - 7px - 15px);
}

main .scroll_top {
  position: fixed;
  right: 1%;
  bottom: 30px;
  max-width: 50px;
  width: 8%;
  cursor: pointer;
}

main .scroll_top .scroll_top_arrow {
  fill: #007ECA;
  position: absolute;
}

main .scroll_top .scroll_top_border {
  stroke: #007ECA;
  fill: none;
  stroke-width: 1px;
  stroke-dasharray: 100;
  stroke-dashoffset: 100;
  transition: 0.8s;
}

main .scroll_top:hover .scroll_top_border {
  stroke-dashoffset: 0;
}

@media screen and (min-width: 500px) {
  .slide.slide_index .slide_index_area {
    padding: 15px 5% 0;
  }
  .slide.slide_index .slide_index_area .slide_title_index {
    width: 65%;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name {
    display: flex;
    align-items: center;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name h3 {
    margin: 0 10px 0 0;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_information .slide_information_text p {
    padding: 0 0 0 10px;
  }
  .slide.slide_index .slide_index_area .slide_figure {
    width: 35%;
  }
}

@media screen and (min-width: 576px) {
  .slide.slide_index .slide_index_area {
    align-items: center;
  }
  .slide.slide_index .slide_index_area .slide_title_index {
    width: 65%;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name {
    display: flex;
    align-items: center;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name h3 {
    margin: 0 10px 0 0;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name p {
    font-size: 20px;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_information .slide_information_text p {
    padding: 0 0 0 10px;
  }
  .slide.slide_index .slide_index_area .slide_figure {
    width: 35%;
  }
}

@media screen and (min-width: 768px) {
  .slide .slide_title {
    padding: 80px 10%;
  }
  .slide.slide_index .slide_index_area .slide_title_index {
    width: 60%;
    padding: 0 15px 20px 0;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name h3 {
    font-size: 50px;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name p {
    font-size: 25px;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_information .slide_information_text p {
    padding: 0 0 0 15px;
  }
  main .page_content_wrap .page_content .page_content_img {
    margin: 10px auto 40px;
  }
  main .page_content_wrap .page_content .page_content_part {
    margin: 20px auto;
  }
  main .page_content_wrap .page_content .page_content_part .page_content_part_title {
    padding: 0 0 20px;
    margin: 0 0 20px;
  }
  main .page_content_wrap .page_content .page_content_part .select_area {
    margin: 0 0 40px;
  }
  main .page_content_wrap .page_content .page_content_part .select_area .select {
    width: 230px;
  }
  main .page_content_wrap .page_content .page_content_part .page_content_paragraph .page_content_part_text {
    margin: 20px 0 10px;
  }
  main .page_content_wrap .page_content .page_content_part .page_content_paragraph .page_content_part_text:nth-child(1) {
    padding: 0 0 20px;
  }
  main .page_content_wrap .page_content .page_content_part .page_content_part_text {
    padding: 0 0 20px;
  }
  main .page_content_wrap .page_content .page_content_part .page_content_part_subtitle_content {
    margin: 0 0 20px calc(1rem + 3px);
  }
  main .page_content_part_marker::after {
    top: calc(15px * 0.85);
  }
}

@media screen and (min-width: 992px) {
  .slide.slide_index .slide_index_area .slide_title_index {
    padding: 0 30px 20px 0;
  }
  .slide.slide_index .slide_index_area .slide_figure {
    width: 30%;
  }
  main .page_content_part_marker::after {
    top: calc(17px * 0.85);
  }
  main .scroll_top {
    width: 50px;
    right: 5%;
    bottom: 50px;
    transform: translate(50%, 0px);
  }
}

@media screen and (min-width: 1200px) {
  .slide.slide_index {
    justify-content: center;
  }
  .slide.slide_index .slide_index_area {
    width: 80%;
  }
  .slide.slide_index .slide_index_area .slide_title_index {
    width: auto;
    padding: 0 80px 20px 0;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name h3 {
    font-size: 60px;
  }
  .slide.slide_index .slide_index_area .slide_title_index .slide_name p {
    font-size: 30px;
  }
  .slide.slide_index .slide_index_area .slide_figure {
    position: relative;
    z-index: 1;
    width: 300px;
  }
  .slide.slide_index .slide_index_area .slide_ntnu {
    display: block;
    width: 30%;
    position: absolute;
    left: calc(50% + 350px);
  }
  main .page_content_wrap .page_content .page_content_img {
    margin: 10px auto 40px;
  }
  main .page_content_wrap .page_content .page_content_part .page_content_part_title {
    padding: 0 0 20px;
    margin: 0 0 20px;
  }
  main .page_content_wrap .page_content .page_content_part .select_area .select {
    width: 250px;
  }
  main .page_content_wrap .page_content .page_content_part .page_content_part_subtitle_content {
    margin: 0 0 20px calc(1rem + 3px);
  }
  main .page_content_wrap.page_content_wrap_both {
    flex-direction: row;
    justify-content: space-between;
  }
  main .page_content_wrap.page_content_wrap_both .both_menu {
    width: 20%;
    margin: 0;
  }
  main .page_content_wrap.page_content_wrap_both .both_menu ul {
    position: sticky;
    top: 120px;
  }
  main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item .both_menu_title {
    color: #007ECA;
    padding: 20px 0;
    margin: 0 0 20px;
  }
  main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item .both_menu_link {
    position: relative;
  }
  main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item .both_menu_link.active:before {
    position: absolute;
    right: 0%;
    display: inline-block;
    content: '\f061';
    font: var(--fa-font-solid);
    color: #007ECA;
    opacity: 1;
    visibility: visible;
    top: 50%;
    transform: translate(calc(100% + 10px), -50%);
  }
  main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item li {
    border-right: 0px solid;
    padding: 0;
    margin: 5px 0;
    width: 100%;
  }
  main .page_content_wrap.page_content_wrap_both .both_menu ul .both_menu_item li:nth-last-child(1) {
    padding: 0;
  }
  main .page_content_wrap.page_content_wrap_both .page_content {
    width: 75%;
  }
  main .page_content_part_marker::after {
    top: calc(19px * 0.85);
  }
}

@media screen and (min-width: 1400px) {
  .slide.slide_index .slide_index_area .slide_figure {
    width: 350px;
  }
  .slide.slide_index .slide_index_area .slide_ntnu {
    left: calc(50% + 350px);
    width: 35%;
  }
  main .page_content_part_marker::after {
    top: calc(20px * 0.85);
  }
}

main .about_area {
  margin: 20px auto;
}

main .about_area .about_area_item .about_area_title {
  margin: 0 0 20px 0;
  border-bottom: 1px solid #2f2f2f;
  padding: 0 0 20px 0;
}

main .about_area .about_area_item .about_area_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

main .about_area .about_area_item .about_area_content .about_area_content_item {
  background-color: #fff;
  box-shadow: 2px 9px 46px 0px #2f2f2f1f;
  padding: 20px 30px;
  margin: 10px 0 10px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  border-radius: 5px;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_index {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 0 0 20px;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_index h3 {
  font-size: 60px;
  line-height: 1;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_index h4 {
  line-height: 1;
  color: #007ECA;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body {
  padding: 20px 0 0;
  width: 100%;
  border-top: 1px solid #2f2f2f;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_item {
  display: flex;
  margin: 0 0 10px 0;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_item .page_content_part_marker_text {
  display: flex;
  flex-direction: column;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_item .page_content_part_marker_text .page_content_part_marker_text_time {
  margin: 0 10px 0 0;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_item .page_content_part_marker_text .page_content_part_marker_text_important {
  color: #2f2f2f;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table {
  overflow-x: scroll;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table {
  width: 100%;
  min-width: 1050px;
  border-collapse: collapse;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table thead tr th:nth-child(1) {
  width: 30%;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table thead tr th:nth-child(2) {
  width: 30%;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table thead tr th:nth-child(3) {
  width: 20%;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table thead tr th:nth-child(4) {
  width: 20%;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table tbody tr:nth-child(odd) {
  background-color: #e0e0de;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table tbody tr:nth-child(odd) td {
  border: 1px solid #fff;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table tbody tr:hover {
  background-color: #4bbbff;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table tbody tr:hover td {
  color: #ffe503;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table tr th {
  background-color: #007ECA;
  color: #fff;
  font-weight: bold;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table tr td, main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table table tr th {
  padding: 10px;
  border: 1px solid #E5E5E5;
  text-align: center;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table::-webkit-scrollbar {
  background: transparent;
  height: 8px;
  width: 8px;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table::-webkit-scrollbar-thumb {
  border: none;
  box-shadow: none;
  background: #007ECA;
  border-radius: 4px;
  min-height: 40px;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_table::-webkit-scrollbar-track {
  margin: 3px 0;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area {
  padding: 30px 0;
  position: relative;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area::before {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  transform: translate(-50%, 0%);
  width: 3px;
  height: 100%;
  background-color: #007ECA;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item {
  position: relative;
  margin: 0 0 40px 0;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item:last-of-type {
  margin: 0;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item .timeline_year {
  position: relative;
  left: 20px;
  transform: translate(0%, 0%);
  margin: 0 0 20px;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item .timeline_right {
  margin: 0 0 0 20px;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item .timeline_right .timeline_right_content .timeline_right_content_item {
  margin: 20px 0;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item .timeline_right .timeline_right_content .timeline_right_content_item .timeline_title {
  color: #007ECA;
  margin: 0 0 5px;
}

main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item::before {
  content: "";
  position: absolute;
  top: calc(19px * 1.5 / 2);
  left: 0;
  background-color: #f0f2f2;
  border: 1px solid #007ECA;
  border-radius: 50%;
  height: 15px;
  width: 15px;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 768px) {
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item::before {
    top: calc(20px * 1.5 / 2);
  }
}

@media screen and (min-width: 992px) {
  main .about_area {
    margin: 20px auto;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item {
    margin: 20px 0;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_item {
    margin: 0 0 20px 0;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_item .page_content_part_marker_text {
    flex-direction: row;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .about_body_item .page_content_part_marker_text .page_content_part_marker_text_time {
    margin: 0 20px 0 0;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area::before {
    left: 100px;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item {
    display: flex;
    justify-content: space-between;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item .timeline_year {
    left: 100px;
    transform: translate(calc(-100% - 20px), 0);
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item .timeline_right {
    width: calc(100% - 100px);
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item .timeline_right .timeline_right_content .timeline_right_content_item {
    margin: 0 0 40px 20px;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item::before {
    top: calc(23px * 1.5 / 2);
    left: 100px;
  }
}

@media screen and (min-width: 1400px) {
  main .about_area .about_area_item .about_area_content .about_area_content_item.two_item {
    width: 47.5%;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item.two_item .about_body .about_body_item .page_content_part_marker_text {
    flex-direction: column;
  }
  main .about_area .about_area_item .about_area_content .about_area_content_item .about_body .timeline_area .timeline_item::before {
    top: calc(26px * 1.5 / 2);
  }
}
/*# sourceMappingURL=sung.css.map */